<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERWIS ROWEROWY</title>
</head>
<body>
    <p id="ginter">slawomir.jona@gmail.com  604-242-552</p>
    <p id="headname"> MIKESZ SERWIS ROWEROWY</p>
    {% block content %}

    {% endblock content%}
        <p id="start">
        <a href={% url 'home' %}>
            <h3>START</h3>
        </a>
    </p>
    <p id="clients_link">
        <a href={% url 'clients' %}>
            <h3>Klienci</h3>
        </a>
    </p>

        <p id="comments_link">
        <a href={% url 'comments' %}>
            <h3>Komentarze</h3>
        </a>
    </p>
        <p id="new_client">
        <a href={% url 'new_client' %}>
            <h3>Dodaj klienta</h3>
        </a>
    </p>
        <p id="comments_link">
        <a href={% url 'new_bike' %}>
            <h3>Dodaj rower</h3>
        </a>
    </p>
</body>
</html>