<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SLAWEK PAGE</title>
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    </head>
    <body>
    <div class="container">
        <header>
        <section class="brand">
            <a href="https://www.facebook.com/MikeszTeam"><img src="{% static 'assets/img/kelly-2.jpg' %}" alt="...dupa" height="50" width="50"> </a>
        </section>
            <nav>
                <ul>
                    <li><a href={% url 'home' %}>START</a> </li>
                    <li><a href={% url 'login' %}>ZALOGUJ</a> </li>
                    <li><a href={% url 'logout' %}>WYLOGUJ</a> </li>

                </ul>
            </nav>
        </header>
        <section class="slider">
            <a href="https://www.facebook.com/MikeszTeam"><img src="{% static 'assets/img/patrick-hendry-qDBbM9Erwo4-unsplash.jpg' %}" alt="...dupa">
            </a>
        </section>
        <main>
            <article>
                <h1>MIKESZ Profesjonalny serwis i sklep rowerowy</h1>
                <p>
                    RYDULTOWY 44-280<br>
                    Ofiar Terroru 71<br>
                    tel.504-264-192
                </p>

            </article>
            <aside>
                <section class="widget">
                    <p>BAZA DANYCH:</p>
                </section>
                <ul>
                    <li><a href={% url 'clients' %}>Klienci</a> </li>
                    <li><a href={% url 'new_client' %}>Nowy klient</a> </li>
                    <li><a href={% url 'new_bike' %}>Nowy rower</a> </li>
                    <li><a href={% url 'new_servis' %}>Nowy serwis</a> </li>
                    <li>* * *</li>
                    <li><a href={% url 'comments' %}>Komentarze</a> </li>
                </ul>
            </aside>
        </main>
            {% block content %}

            {% endblock content%}
        <footer>
            <p>Copyright &COPY; MIKESZ</p>
        </footer>
    </div>
    </body>
</html>