<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERWIS ROWEROWY</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Boxed-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <div data-bs-parallax-bg="true" style="height:237px;background-image:url(&quot;static/assets/img/logo3.jpg&quot;);background-position:center;background-size:cover;"><img src="{% static 'assets/img/tlogo.png' %}" style="width:333px;"></div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro"></div>
            <div class="row justify-content-center features" style="padding-top:30px;padding-bottom:0px;">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <a href={% url 'home' %}>
                            <i class="fa fa-sign-in icon"></i></a>
                        <h3 class="name">Logowanie</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <a href={% url 'clients' %}>
                            <i class="fa fa-bicycle icon"></i></a>
                        <h3 class="name">Klienci</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <a href={% url 'comments' %}>
                            <i class="fa fa-comment-o icon"></i></a>
                        <h3 class="name">Komentarze</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>

    {% block content %}

    {% endblock content%}

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-animation.js' %}"></script>
</body>

</html>